name: publish-gem

on:
  # pull_request: # test with pull request
  push:
    branches: # Trigger only on the main branch to avoid duplicate runs on PR branches
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      RAILS_VERSION: 6.0

    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        # bundler-cache: true -- this messes up some dynamic constants
    - run: "./spec/bin/run_spec.sh"
    - run: bundle exec srb tc
    - name: Release Gem
      uses: dawidd6/action-publish-gem@v1
      with:
        api_key: ${{secrets.RUBYGEMS_API_KEY}}
